body {
    margin: 0;
    padding: 0;
    width: 100vw;
    /* height: 100vh; */
    background-color: #b4cded;
    font-family: "Ubuntu", sans-serif;
}

* {
    box-sizing: border-box;
}

/* NAVBAR Items */

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #0b2027;
    color: #f0f4ef;
}

.myName {
    font-size: 1.75rem;
    margin: 1rem;
}

.navbarLinks {
    height: 100%;
}

.navbarLinks ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbarLinks li {
    list-style: none;
}

.navbarLinks li a {
    text-decoration: none;
    color: #f0f4ef;
    padding: 1rem;
    display: block;
    font-size: 1.5rem;
}

.navbarLinks li:hover {
    background-color: #b4cded;
}

.toggleButton {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.toggleButton .bar {
    height: 3px;
    width: 100%;
    background-color: #f0f4ef;
    border-radius: 10px;
}

/* Home Page */

#contentWrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 1000px;
    margin: 600px auto;
}
#profileBanner {
    display: flex;
    margin-bottom: 80px;
}

.center-text {
    font-size: 30px;
    color: #344966;
    line-height: 1.4;
}

#heading {
    font-size: 60px;
}

#homePicWrapper {
    width: 200px;
    height: 100px;
}

#homePic {
    position: relative;
    top: -400px;
    left: -25px;
    width: 25rem;
    height: 28rem;
    /* border: 20px solid #344966; */
    border-radius: 50%;
    box-shadow: 0 0 0 7px #bfcc94, 0 0 0 21px #344966;
}

#quote {
    font-size: 75px;
    color: #344966;
    font-family: "Grand Hotel", cursive;
    margin: 10px 0;
    text-align: right;
}

#quoteAuthor {
    font-size: 55px;
    text-align: right;
    margin-right: 6rem;
    line-height: 1.5;
}

/* About Page */

main {
    width: 60%;
    min-height: 100vh;
    margin: auto;
    background-color: #344966;
    padding: 35px 24px 35px;
}


hr {
    border: none;
    border-top: 3px dotted #bfcc94;
    color: #bfcc94;
    background-color: #f0f4ef;
    height: 1px;
    margin: 20px 0;
}

#aboutMeHeader {
    color: #bfcc94;
    font-size: 60px;
}

.aboutMeSection {
    color: #bfcc94;
    font-size: 1.5rem;
    padding: 10px 10px;
}

.aboutMeSection img {
    height: 150px;
    width: 225px;
    float: right;
    margin: 10px 25px;
    border: 3px solid #0b2027;
}


#mainPortfolio {
    width: 85%;
    min-height: 100vh;
    margin: auto;
    background-color: #344966;
    padding: 35px 24px 35px;
}
#portfolioHeader {
    display: flex;
    font-size: 1.75rem;
    color: #bfcc94;
}

.myProjects {
    display: flex;
    justify-content: space-around;
    background-color: #344966;
}

.myProjects > div {
    background-color: #bfcc94;
    color: #344966;
    width: 450px;
    margin: 10px;
    text-align: center;
    min-height: 700px;
    font-size: 25px;
    padding: 15px;
    border: 3px solid #0b2027;
}

.portfolioPic {
    height: 150px;
    width: 200px;
    border: 3px solid #0b2027;
    margin-top: 10px;
}

.formWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.signupForm {
    background-color: #b4cded;
    max-width: 600px;
    flex: 1;
    border-radius: 10px;
}

.formHeader {
    border-bottom: 1px solid #0b2027;
    padding: 15px 0;
}

.formHeader h1 {
    text-align: center;
    font-size: 30px;
    color: #0b2027;
}

.formBody {
    background-color: #f0f4ef;
    padding: 5px 10px;
}

.row {
    display: flex;
}

.inputGroup {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 10px 5px;
}

label {
    color: #0b2027;
    font-size: 19px;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    font-size: 18px;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    color: #0b2027;
    border: 1px solid #0b2027;
    border-radius: 4px;
    background: white;
    outline: none;
}

textarea {
    resize: none;
    height: 100px;
}

.radioGroup {
    display: flex;
}

.radioGroup div {
    flex: 1;
}

.radioGroup label {
    color: #344966;
    cursor: pointer;
}

.formFooter {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}

.btn {
    padding: 10px 20px;
    background-color: #344966;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    color: #f0f4ef;
    cursor: pointer;
    font-family: "Ubuntu", sans-serif;
}

@media only screen and (max-width: 900px) {
    main {
        width: 100%;
    }

    #mainPortfolio {
        width: 100%;
    }

    #portfolioHeader {
        justify-content: center;
    }
    
    .myProjects {
        flex-direction: column;
        align-items: center;
    }

    /* media queries for the contact form */
    .formWrapper {
        .row {
            flex-direction: column;
        }
    }

    .btn {
        flex: 1;
    }

    /* media queries for the navbar */
    
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .toggleButton {
        display: flex;
    }

    .navbarLinks {
        display: none;
        width: 100%;
    }

    .navbarLinks ul {
        width: 100%;
        flex-direction: column;
    }

    .navbarLinks ul li {
        text-align: center;
    }

    .navbarLinks ul li a {
        padding: .5rem 1 rem;
    }

    navbar-links.active {
        display: flex;
    }

    /* media querie for home page image */

    #homePicWrapper {
        flex-direction: column;
    }

    #profileBanner {
        flex-direction: column;
        position: absolute;
    }
}
